[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
bitarray = "*"
pymysql = "*"
bluepy = "*"
python-dotenv = "*"
beacontools = {extras = ["scan"], version = "*"}
pybluez = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
